NIO_DB_HOST=localhost
NIO_DB_PORT=5432
NIO_DB_NAME=trading_warehouse
NIO_DB_USER=quant_user
NIO_DB_PASSWORD=quant_password
NIO_JDBC_URL=jdbc:postgresql://nio_postgres:5432/trading_warehouse
AIRFLOW_DB_HOST=airflow_db
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
